# Maven and Build Artifacts
target/
lib/
agents/
*.versionsBackup
pom.xml.*
release.properties
dependency-reduced-pom.xml

# IntelliJ
!.idea/
!.idea/runConfigurations
.idea/*.xml
.idea/.gitignore
.idea/codeStyles
.idea/*
*.iml
*.iws

# Eclipse
.classpath
.project
.settings/

# VSCode
.vscode/


# OS X
.DS_Store

# Sample Data
prepared-ships-data.json
elastic-log.txt

# Temporary files used for Docker Build Secrets
.aws-user
.aws-token

# testNG
test-output/

# Test Certificates
test-certs/

# Trivy Cache
.trivy/
trivy/
